@import "fonts";
$container: 123.6rem;
$btn-primary: rgb(85, 51, 255);
$sale-off: rgb(193,0,43);
$text-color: rgb(22, 28, 45);
$text-muted: rgb(134, 154, 184);
$font-primary: "Poppins", sans-serif;
$box-shadow:  0 0 5px rgba(0,0,0,.11);
$border-radius: 5px;