block mixins
    include ../blocks/mixins
block vars
    -title="Site"
    -bodyClass= ''


doctype html 
html(lang="en")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title=title 
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
        link(rel="stylesheet", href="/css/reset.css")
        link(rel="stylesheet", href="/css/style.css")
         
    body(class=bodyClass)
        .wrapper 
            block header
                include ../blocks/header
            block main 
            block footer
                include ../blocks/footer
        script(src="/js/nav.js")
        script(src="/js/slider.js") 